.continer-nav-link{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.link-bar ul{
    /* border: 1px solid black; */
    width: 450px;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.link-bar ul li{
    font-size: 18px;
    
}