.body-log{
    /* border: 1px solid black; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1B2125;
}

.title-log{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    /* border: 1px solid white; */
    color: rgb(243, 239, 239);
    width: 100%;
    height: 330px;
    
}
.title-log h1{
    padding: 18px;
    text-align: right;
    font-size: 80px;
    height: 22px;
    margin-right: 50px;
}
.title-log p{
    padding: 18px;
    text-align: right;
    margin-right: 50px;
}

.continer-btn-log{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
     
}
.btn{   
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 32px;
    font-size: 18px;
    border: none;
    margin-right: 70px;
    color: rgb(65, 63, 63);
}
.btn:hover{
    background-color: #2C6AFF;
    color: white;
}

